.swal2-title {
	
	color:#ccc !important;

	text-transform: uppercase !important;

	font-family: 'Cooper Hewitt';
}

.swal2-content{

	color:#ccc !important;

	font-family: 'Cooper Hewitt';


}

.swal2-popup{
	background-color: #333 !important;
}

.swal2-cancel{
	background-color: #ccc !important;
	color:#555 !important;
	text-decoration: none !important;
	border: none !important;
	box-shadow: none !important;
}

.swal2-confirm{

	box-shadow: none !important;

}
